.about-me-section {
    min-height: 100vh;
}

.about-me-header {
    text-align: center;
    padding-top: 10vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.5rem;
    color: dodgerblue;
}

.about-me-picture {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-right: 8vh;
    margin-left: 15vh;
    height: 400px;
    width: 400px;
    border: solid;
    border-width: 5px;
    border-color: dodgerblue;
    border-radius: 10%;
}

.about-me-text {
    text-align: center;
    padding-top: 5vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    color: aliceblue;
}


.about-flexbox {
    display: flex;
}