.fade-in-on-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 3s ease, transform 3s ease;
}

.fade-in-on-scroll.visible {
    opacity: 1;
    transform: translateY(0);
}
