.menu-bar{
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
  animation: slideInFromTop 2s ease-in;
}

.menu-left, .menu-right {
  display: flex;
  align-items: center;
}

.socials {
  height: 50px;
  width: 50px;
  margin: 5px 15px;
  display: inline-block;
}

.socials:hover, .subsection:hover {
  opacity: 10%;
  cursor: pointer;
}

.subsection {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', serif;
  font-size: 20px;
  min-width: fit-content;
  color: whitesmoke;
  padding-right: 18px;
  padding-left: 18px;
}


@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
