.introduction-section {
    min-height: calc(100vh - 63.5px);
    display:flex;
    padding: 0;
}

.intro-picture {
    margin-top: 25vh;
    margin-left: 15vh;
    margin-right:5vh;
}

.neil-picture {
    height: 200px;
    width: 200px;
    border: solid;
    border-width: 5px;
    border-color: dodgerblue;
    border-radius: 35%;
    animation: fadeInSlideLeft 2s ease-out forwards;
}

.intro-paragraph {
    margin-top: 25vh;
}

.intro-text-main{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', serif;
    font-weight: bolder;
    color: white;
    font-size: 60px;
    margin: 0;
    padding: 3vh;
    animation: fadeInSlideRight 2s ease-out forwards;
    
}
.intro-text-subtext{
    margin: 0;
    padding: 3vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', serif;
    font-weight: bolder;
    color:teal;
    font-size: 30px;
    animation: fadeInSlideRight 2s ease-out forwards;

}
.highlight {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', serif;
    color:dodgerblue;
}

@keyframes fadeInSlideLeft {
    0% {
        opacity: 0;
        transform: translateX(-200%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInSlideRight {
    0% {
        opacity: 0;
        transform: translateX(200%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}